
.text-center {
    text-align: center;
  }
  
  .sub-navbar {
    height: 50px;
    line-height: 50px;
    position: relative;
    width: 100%;
    text-align: right;
    padding-right: 20px;
    transition: 600ms ease position;
    background: linear-gradient(
      90deg,
      rgba(32, 182, 249, 1) 0%,
      rgba(32, 182, 249, 1) 0%,
      rgba(33, 120, 241, 1) 100%,
      rgba(33, 120, 241, 1) 100%
    );
  
    .subtitle {
      font-size: 20px;
      color: #fff;
    }
  
    &.draft {
      background: #d0d0d0;
    }
  
    &.deleted {
      background: #d0d0d0;
    }
  }
  
  .link-type,
  .link-type:focus {
    color: #337ab7;
    cursor: pointer;
  
    &:hover {
      color: rgb(32, 160, 255);
    }
  }
  
  .filter-container {
    padding-bottom: 10px;
  
    .filter-item {
      display: inline-block;
      vertical-align: middle;
      margin-bottom: 10px;
    }
  }
  
  //refine vue-multiselect plugin
  .multiselect {
    line-height: 16px;
  }
  
  .multiselect--active {
    z-index: 1000 !important;
  }
  
  /****
  全局公共样式
  ****/
  
  .text-center {
    text-align: center;
  }
  .text-right {
    text-align: right;
  }
  .text-left {
    text-align: left;
  }
  
  .search-form {
    margin-bottom: 20px;
    .search-item {
      display: inline-block;
      margin-right: 12px;
      margin-bottom: 12px;
      .el-input{
        width: 200px;
      }
      .label-name {
        display: inline-block;
        width: 80px;
        margin-right: 10px;
        text-align: right;
        color: #999999;
        font-size: 14px;
      }
    }
  }
  .avatar-uploader .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .avatar-uploader .el-upload:hover {
    border-color: #409eff;
  }
  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 148px;
    height: 148px;
    line-height: 148px !important;
    text-align: center;
  }
  .avatar {
    width: 148px;
    height: 148px;
    display: block;
  }
  
  .tip{
    color: red
  }
  
  .link{
    color: #409eff;
    cursor: pointer;
  }
  
  .error-tip-txt{
    font-size: 16px;
    color: #999;
    margin-top:50px;
    margin-bottom: 30px
  }
  .table-box{
    margin-top: 20px;
    margin-bottom: 10px;
    .choose-num{
      font-size: 16px;
      margin-bottom: 10px;
      color: #333;
    }
  }

  .image-slot-loding{
    position: absolute;
    left: 0;
    right: 0;
    background: #f5f7fa;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }