.text-overflow-1 {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.text-overflow-2 {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.chat-room-comp {
  padding: 0 0 20px 0;
  width: 100%;
  border-bottom: 1px solid #ddd;
  // height: 500px;
  background: #fff;

  .chat-list {
    height: 100%;
    overflow: auto;
    border-right: 1px solid #ddd;
    float: left;
    width: 20%;

    .search-box {
      width: 100%;
      height: 48px;
      padding: 10px;
      background-color: #eff0f5;

      .search-input {
        // margin-top: 10px;
        // input {
        //   height: 28px;
        //   line-height: 28px;
        //   font-size: 14px;
        // }
      }
    }

    .user-list {
      padding: 10px 0;
    }
  }

  .chat-window {
    display: flex;
    flex-direction: column;
    width: 55%;
    float: left;
    height: 100%;
    overflow: auto;

    .msg-box {
      flex: 1;

      .cur-user-name {
        height: 48px;
        border-bottom: 1px solid #ddd;
        padding: 0 20px;
        line-height: 48px;
        font-size: 14px;
      }

      .chat-detail-list {
        padding: 0 20px;

        .view-more {
          padding: 10px 0;
          text-align: center;
          font-size: 12px;
          color: #45aafa;
        }

        .date-list {
          text-align: center;

          .date {
            display: inline-block;
            margin: 10px auto 0;
            border-radius: 6px;
            background: #ccc;
            padding: 4px 40px;
            font-size: 12px;
            color: #fff;
          }

          .date-chat-record {
            text-align: left;

            .date-chat-item {
              margin-top: 10px;

              .chat-item-info {
                font-size: 12px;
                color: #45aafa;

                &.user {
                  color: #45aafa;
                }

                &.self {
                  color: green;
                }
              }

              .chat-item-text {
                margin-top: 10px;
                font-size: 12px;
                color: #222;
              }
            }
          }
        }
      }
    }

    .send-msg-box {
      display: flex;
      flex-direction: column;
      height: 200px;

      .action-list {
        display: flex;
        align-items: center;
        height: 40px;
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        padding: 0 10px;

        .action-item {
          margin: 0 10px;
        }
      }

      .text-area {
        flex: 1;

        .el-textarea {
          width: 100%;
          height: 100%;
          padding: 0;
          outline: 0;
          border: 0;

          .el-textarea__inner {
            display: block;
            width: 100%;
            height: 100%;
            padding: 16px;
            outline: 0;
            border: 0;
            resize: none;
          }
        }
      }

      .send-msg-box-bottom {
        display: flex;
        justify-content: flex-end;
        padding: 0 20px;

        .send-btn {}
      }
    }
  }

  .chat-info::-webkit-scrollbar,
  .chat-list::-webkit-scrollbar,
  .chat-window::-webkit-scrollbar {
    display: none; //Safari and Chrome
  }

  .chat-info {
    width: 25%;
    height: 100%;
    overflow: auto;
    float: right;
    border-left: 1px solid #eff0f5;

    .el-tabs {
      // background: #45aafa;

      .el-tabs__header {
        // background: #ffe400;

        .el-tabs__nav-wrap {
          // background: #000;
        }
      }
    }

    .el-tabs__item {
      // width: 50%;
      height: 48px !important;
    }

    .cur-user-info {
      .divider {
        height: 12px;
        background: #eff0f5;
      }
    }

    .cur-user-orders {
      .order-item {
        padding: 0 10px;
        margin-bottom: 20px;

        .order-item-top {
          overflow: hidden;
          border-bottom: 1px solid #eff0f5;
          font-size: 11px;
          padding: 5px 0;

          .order-no {
            float: left;
          }

          .order-time {
            float: right;
          }
        }

        .order-goods-list {
          .goods-item {
            padding: 5px 0;

            .goods-img {
              display: inline-block;
              width: 40px;
              height: 40px;
              background: #ddd;
            }

            .goods-info {
              display: inline-block;

              .goods-info-top {
                .goods-name {
                  font-size: 11px;
                }

                .goods-no {
                  font-size: 12px;
                }
              }

              .goods-size {
                margin-top: 5px;
                font-size: 10px;
              }

              .manufacturer {
                margin-top: 5px;
                font-size: 10px;
              }
            }
          }
        }
      }
    }
  }
}
