.text-overflow-1 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text-overflow-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.chat-room-comp {
  display: flex;
  align-items: center;
  padding: 0;
  width: 100%;
  border-bottom: 1px solid #ddd;
  // height: 500px;
  background: #fff;

  .chat-list {
    height: 100%;
    overflow: auto;
    border-right: 1px solid #ddd;
    width: 220px;

    .search-box {
      width: 100%;
      height: 48px;
      padding: 10px;
      background-color: #eff0f5;

      .search-input {
        // margin-top: 10px;
        // input {
        //   height: 28px;
        //   line-height: 28px;
        //   font-size: 14px;
        // }
      }
    }

    .user-list {
      padding: 10px 0;
    }
  }

  .chat-window {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;
    flex: 1;

    .msg-box {
      flex: 1;
      display: flex;
      flex-direction: column;
      overflow: hidden;
      // padding: 20px;

      .cur-user-name {
        height: 48px;
        border-bottom: 1px solid #ddd;
        padding: 0 20px;
        line-height: 48px;
        font-size: 14px;
      }

      .chat-detail-list {
        flex: 1;
        padding: 0 20px 40px;
        overflow: auto;

        .date-list {
          text-align: center;

          .date {
            display: inline-block;
            margin: 20px auto 0;
            border-radius: 6px;
            background: #ccc;
            padding: 4px 40px;
            font-size: 12px;
            color: #fff;
          }

          .chat-dItem-avatar {
            width: 40px;
            height: 40px;
            background-color: #eff0f5;
          }

          .chat-dItem-content {
            overflow: hidden;
            position: relative;
            min-height: 40px;
            border: 1px solid #eff0f5;
            margin: 0 15px;
            border-radius: 5px;
            font-size: 14px;
            max-width: 240px;
            text-align: left;

            .goods-card {
              min-width: 200px;
              max-width: 280px;

              .goods-card-header {
                height: 44px;
                line-height: 44px;
                padding: 0 10px;
                border-bottom: 1px dotted #eff0f5;
              }

              .goods-card-main {
                display: flex;
                align-items: center;
                padding: 10px;

                .goods-img {
                  width: 56px;
                  height: 56px;

                  .el-image {
                    width: 100%;
                    height: 100%;
                  }
                }

                .goods-info {
                  flex: 1;
                  overflow: hidden;
                  display: flex;
                  flex-direction: column;
                  height: 56px;
                  justify-content: space-between;
                  margin-left: 8px;

                  .goods-name {
                    @extend .text-overflow-2;
                    font-size: 14px;
                    color: #222;
                  }

                  .goods-price {
                    font-size: 10px;
                    color: #ff4a4a;
                  }
                }
              }
            }

            .chat-text {
              min-height: 40px;
              padding: 0 10px;
              text-align: left;
              line-height: 40px;
            }

            // &::before {
            //   position: absolute;
            //   right: 0;
            //   top: 50%;
            //   transform: translate(100%, -50%);
            //   display: block;
            //   content: '';
            //   // width: 10px;
            //   // height: 10px;
            //   width: 5px;
            //   height: 5px;
            //   border: 10px solid black;
            //   background: #45aafa;
            //   border-right: 0;
            //   border-top: 0;
            //   border-bottom: 0;
            // }
          }

          .date-chat-item {
            display: flex;
            align-items: flex-start;
            margin-top: 20px;

            &.right-align {
              justify-content: flex-end;

              .chat-dItem-content {
                .chat-text {
                  background: #45aafa;
                }
              }
            }

            .chat-dItem-avatar {
              width: 40px;
              height: 40px;
              background-color: #eff0f5;
            }


            .chat-item-info {
              font-size: 12px;
              color: #45aafa;

              &.user {
                color: #45aafa;
              }

              &.self {
                color: green;
              }
            }

            .chat-item-text {
              text-align: left;
              margin-top: 10px;
              font-size: 12px;
              color: #222;
            }
          }
        }
      }
    }

    .send-msg-box {
      display: flex;
      flex-direction: column;
      height: 220px;
      box-sizing: border-box;
      padding-bottom: 20px;

      .action-list {
        display: flex;
        align-items: center;
        height: 40px;
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        padding: 0 10px;

        .action-item {
          margin: 0 10px;
        }

      }

      .text-area {
        flex: 1;

        .el-textarea {
          width: 100%;
          height: 100%;
          padding: 0;
          outline: 0;
          border: 0;

          .el-textarea__inner {
            display: block;
            width: 100%;
            height: 100%;
            padding: 16px;
            outline: 0;
            border: 0;
            resize: none;
            font-size: 15px;
          }
        }
      }

      .send-msg-box-bottom {
        display: flex;
        justify-content: flex-end;
        padding: 0 20px;

        .send-btn {}
      }
    }
  }

  .chat-info::-webkit-scrollbar,
  .chat-list::-webkit-scrollbar,
  .chat-window::-webkit-scrollbar {
    display: none; //Safari and Chrome
  }
}

.canned-msg-list {
  .canned-msg-item {
    height: 36px;
    line-height: 36px;
    @extend .text-overflow-1;
  }
}


.text-overflow-1 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text-overflow-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.user-comp {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  padding: 10px;
  width: 100%;

  &.selected {
    background-color: #ddd;
  }

  .user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #45aafa;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .user-chat-info {
    overflow: hidden;
    flex: 1;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 8px;

    .chat-info-top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      overflow: hidden;

      .user-name {
        @extend .text-overflow-1;
        font-size: 14px;
        // font-weight: 700;
      }

      .chat-time {
        font-size: 12px;
        color: #999;
      }
    }

    .user-chat-content {
      font-size: 12px;
      color: #999;
      @extend .text-overflow-1;
    }
  }
}

.el-popover {

  // max-height: 300px;
  // overflow: auto;
  .canned-msg-list {
    max-height: 300px;
    overflow: auto;
  }
}


.emoji-list {
  display: flex;
  flex-wrap: wrap;
  height: 200px;
  overflow: auto;

  .emoji-item {
    display: block;
    width: 28px;
    height: 28px;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
  }
}

#pic {
  display: none;
}
