@import "/functions";

@mixin oss-bg($folder, $img, $oss-handler) {
  // 如果不引用本地资源，webpack不会将图片打包(public下除外)，那么oss上也无法上传，所以引用一次本地图片，再用线上地址覆盖
  @if $folder != "" {
    background-image: url("#{$folder}#{$img}");
  } @else {
    background-image: url("/#{$img}");
  }
  @if $static-url != "" {
    background-image: url("#{oss-bg-config($folder, $img, $oss-handler)}");
  }
}
/**
 * 全局通用 Mixin
 */
@mixin wh($w, $h) {
  width: $w;
  height: $h;
}

// 单行省略
@mixin no-wrap() {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  word-break: break-all;
}

//多行省略
@mixin multi-line($linenum) {
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: $linenum;
  -webkit-box-orient: vertical; /*子元素垂直排列*/
}

// 扩展点击区域
@mixin extend-click($size) {
  position: relative;
  &:before {
    content: "";
    position: absolute;
    top: -$size;
    left: -$size;
    right: -$size;
    bottom: -$size;
  }
}

@mixin padding-box($h) {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: $h;
  .padding-content {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    .content-box {
      position: relative;
      width: 100%;
      height: 100%;
    }
  }
}

// 绝对定位,充满父盒子
@mixin full-absloute() {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

// 阴影效果
@mixin box-shadow($color, $w: 1px, $size: 1px) {
  box-shadow: -$w 0 $size $color, $w 0 $size $color, 0 $w $size $color, 0 $w $size $color;
}

// 按钮
@mixin c-btn($w: 100px, $h: 34px, $bgcolor: white, $color: #2277da) {
  box-sizing: border-box;
  width: $w;
  height: $h;
  line-height: $h;
  color: $color;
  background-color: $bgcolor;
  font-size: 14px;
  text-align: center;
  border-radius: 1px;
  overflow: hidden;
  cursor: pointer;
}
// 背景图片(单个图片)
@mixin bg-logo2($w, $h, $url) {
  width: $w;
  height: $h;
  background-size: $w $h;
  background-image: url($url);
  background-repeat: no-repeat;
}

//背景盒子
@mixin bg-box {
  position: absolute;
  display: flex;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #f5f5f6;
  .text {
    margin: auto;
    font-size: 15px;
    color: #999999;
  }
}

//背景封面图
@mixin bg-cover-img {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
}

// 背景图片 (1x,2x,3x)
@mixin bg-logo-x($w, $h, $url) {
  width: $w;
  height: $h;
  background-size: $w $h;
  background-image: image-set(url($url+"@2x.png") 1x, url($url+"@2x.png") 2x, url($url+"@2x.png") 3x);
  background-repeat: no-repeat !important;
}

// 背景图片(单个图片)
@mixin bg-logo-one($w, $h, $url) {
  width: $w;
  height: $h;
  background-size: $w $h;
  background-image: url($url);
  background-repeat: no-repeat !important;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin scrollBar {
  &::-webkit-scrollbar-track-piece {
    background: #d3dce6;
  }

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background: #99a9bf;
    border-radius: 20px;
  }
}

@mixin relative {
  position: relative;
  width: 100%;
  height: 100%;
}

@mixin pct($pct) {
  width: #{$pct};
  position: relative;
  margin: 0 auto;
}

@mixin triangle($width, $height, $color, $direction) {
  $width: $width/2;
  $color-border-style: $height solid $color;
  $transparent-border-style: $width solid transparent;
  height: 0;
  width: 0;

  @if $direction==up {
    border-bottom: $color-border-style;
    border-left: $transparent-border-style;
    border-right: $transparent-border-style;
  }

  @else if $direction==right {
    border-left: $color-border-style;
    border-top: $transparent-border-style;
    border-bottom: $transparent-border-style;
  }

  @else if $direction==down {
    border-top: $color-border-style;
    border-left: $transparent-border-style;
    border-right: $transparent-border-style;
  }

  @else if $direction==left {
    border-right: $color-border-style;
    border-top: $transparent-border-style;
    border-bottom: $transparent-border-style;
  }
}


.border-top-1px,
.border-bottom-1px,
.border-left-1px,
.border-right-1px,
.border-1px {
  position: relative;
}
/* 顶边边框一像素 */
.border-top-1px::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 1px;
  transform-origin: 0 0;
  background-color: #e8e8e8;
}
/* 底边边框一像素 */
.border-bottom-1px::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  transform-origin: 0 0;
  background-color: #e8e8e8;
  z-index: 3;
}
/* 左边边边框一像素 */
.border-left-1px::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 1px;
  height: 100%;
  transform-origin: 0 0;
  background-color: #e8e8e8;
}
/* 右边边边框一像素 */
.border-right-1px::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 1px;
  height: 100%;
  transform-origin: 0 0;
  background-color: #e8e8e8;
}
/* 边框一像素 */
.border-1px::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 300%;
  height: 300%;
  transform-origin: 0 0;
  background-color: #e8e8e8;
}
//1px 边框
@mixin border-top-1px($color) {
  @extend .border-top-1px;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 1px;
    transform-origin: 0 0;
    background-color: $color;
  }
}

@mixin border-bottom-1px($color) {
  @extend .border-bottom-1px;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    transform-origin: 0 0;
    background-color: $color;
  }
}

@mixin border-left-1px($color) {
  @extend .border-left-1px;
  position: relative;
  &::after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
    height: 100%;
    transform-origin: 0 0;
    background-color: $color;
  }
}

@mixin border-right-1px($color) {
  @extend .border-right-1px;
  position: relative;
  &:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background: $color;
    width: 1px;
    height: 100%;
    -webkit-transform: scaleX(0.5);
    transform: scaleX(0.5);
  }
}

@mixin border-1px($color) {
  position: relative;
  &::after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    border: 1px solid $color;
    width: 300%;
    height: 300%;
    transform: scale(0.333);
    transform-origin: 0 0;
  }
}

/*设备像素比*/
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 2dppx) {
  .border-bottom-1px::after,
  .border-top-1px::after {
    transform: scaleY(0.5);
  }
  .border-left-1px::after,
  .border-right-1px::after {
    transform: scaleX(0.5);
  }
  .border-1px::after {
    width: 200%;
    height: 200%;
    transform: scale(0.5);
    transform-origin: 0 0;
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 3), only screen and (min-resolution: 3dppx) {
  .border-bottom-1px::after,
  .border-top-1px::after {
    transform: scaleY(0.333);
  }
  .border-left-1px::after,
  .border-right-1px::after {
    transform: scaleX(0.333);
  }
  .border-1px::after {
    width: 300%;
    height: 300%;
    transform: scale(0.333);
    transform-origin: 0 0;
  }
}




